*{
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

img{
    border-radius: 50px;
}

h2{
    font-size: 30px;
    font-weight: bolder;
    text-decoration: underline;
    margin-bottom: 10px;
}

p{
    font-size: 22px;
    font-weight: lighter;
    max-width: 300px;
    margin: 20px;
}